<h1>Password Generator</h1>

<div>
  <label>Enter Length</label>
  <input (input)="onChangeLength($event)" />
</div>

<div>
  <label>User Letters</label>
  <input type="checkbox" (change)="onChangeUseLetters()"/>
</div>

<div>
  <label for="">User Numbers</label>
  <input type="checkbox" (change)="onChangeNumbers()"/>
</div>

<div>
  <label for="">User Symbols</label>
  <input type="checkbox" (change)="onChangeSymbols()"/>
</div>

<div>
  <button [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))"
    (click)="onButtonClick()">Generate!</button>
</div>

<div>
  <label>Your Password</label>
  <input [value]="password" />
</div>
